*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  -webkit-margin-before: 0 !important;
  margin-block-start: 0 !important;
  -webkit-margin-after: 0 !important;
  margin-block-end: 0 !important;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
hr,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  -webkit-text-decoration-skip: ink;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  padding: 0;
  font: inherit;
  border: none;
  background-color: transparent;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul,
ol {
  -webkit-margin-before: 0 !important;
  margin-block-start: 0 !important;
  -webkit-margin-after: 0 !important;
  margin-block-end: 0 !important;
  -webkit-padding-start: 0 !important;
  padding-inline-start: 0 !important;
}


/* Set core body defaults */
body {
  font-family: "KyivTypeSansMedium";
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-weight: normal !important;
}


section {
  position: relative;
  height: auto;
  overflow: hidden;
}

:root {
  --v-dark: #263238;
  --v-orange: #F05A33;
  --v-yellow: #FDBC11;
  --v-light-grey: #F5F5F5;
  --v-white: #fff;
  --v-black: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inner {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 991px;
  margin: 0 auto;
}

.inner-flex {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  padding: 15px;
  margin-bottom: 15px !important;
  width: 32%;
  min-height: 300px;
  opacity: .6 !important;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.link-block.done {
  -webkit-mask-image:
  linear-gradient(45deg, #000000 25%, rgba(0,0,0,0.2) 25%),
  linear-gradient(-45deg, #000000 25%, rgba(0,0,0,0.2) 25%),
  linear-gradient(45deg, rgba(0,0,0,0.2) 75%, #000000 75%),
  linear-gradient(-45deg, rgba(0,0,0,0.2) 75%, #000000 75%);
-webkit-mask-size:20px 20px;
  -webkit-mask-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  
}
.link-block:hover {
  opacity: 1 !important;
  color: var(--v-dark);
}

.link-block span {
  color: transparent;
  padding: 3px 6px;
  max-width: 300px;
  -webkit-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}

.link-block:hover span {
  color: var(--v-dark);
  background-color: #fff;
}

.link-block.coach-bandit__bl {
  background-image: url('img/fone-pic_1.png');
}

.link-block.polene-cyme {
  background-image: url('img/fone-pic_3.png');
}

.link-block.vovnyaniy-sharf {
  background-image: url('img/fone-pic_4.png');
}

.link-block.grivna-choker {
  background-image: url('img/fone-pic_5.png');
}

.link-block.komir-z-vishivkoyu {
  background-image: url('img/fone-pic_7.png');
}

.link-block.double-mix {
  background-image: url('img/fone-pic_8.png');
}

.link-block.airpods-max {
  background-image: url('img/fone-pic_9.png');
}

.link-block.scirt {
  background-image: url('img/fone-pic_12.png');
}

.link-block.huda-beauty-paleta {
  background-image: url('img/fone-pic_16.png');
}

.link-block.crash-baggage {
  background-image: url('img/fone-pic_17.png');
}

.link-block.ami-cap {
  background-image: url('img/fone-pic_18.png');
}

.link-block.ami-T-Shirt {
  background-image: url('img/fone-pic_19.png');
}


.link-block.CommeDesGarcons {
  background-image: url('img/fone-pic_21.png');
}

.link-block.guniaproject {
  background-image: url('img/fone-pic_23.png');
}

.link-block.main-necklace {
  background-image: url('img/fone-pic_24.png');
}

.link-block.hair {
  background-image: url('img/fone-pic_25.png');
}

.link-block.solgar {
  background-image: url('img/fone-pic_26.png');
}
.link-block.scarf {
  background-image: url('img/fone-pic_27.png');
}
.link-block.nails {
  background-image: url('img/fone-pic_28.png');
}
.link-block.NYX-Pencil {
  background-image: url('img/fone-pic_29.png');
}
.link-block.victoriassecret-koszulka {
  background-image: url('img/fone-pic_31.png');
}
.link-block.biluzna {
  background-image: url('img/fone-pic_30.png');
}

.link-block.massimo-bag {
  background-image: url('img/fone-pic_34.png');
}
.link-block.lowheel-boots {
  background-image: url('img/fone-pic_35.png');
}

.link-block.tartelette {
  background-image: url('img/fone-pic_39.png');
}

.link-block.Mohair-Sweater {
  background-image: url('img/fone-pic_44.png');
}

.link-block.gaman {
  background-image: url('img/fone-pic_45.png');
}

.link-block.chashka-z-kotom {
  background-image: url('img/fone-pic_46.png');
}


.link-block.shapka-z-zavyazkami {
  background-image: url('img/fone-pic_48.png');
}

.link-block.gralni-karti {
  background-image: url('img/fone-pic_47.png');
}

.link-block.figurna-tarilka-z-yangolami {
  background-image: url('img/fone-pic_49.png');
}

.link-block.keramichna-tsukornitsya-zaets {
  background-image: url('img/fone-pic_50.png');
}

.link-block.keramichniy-glechik-z-derevom-zhittya {
  background-image: url('img/fone-pic_51.png');
}

.link-block.keramichna-ovalna-tarilka-z-derevom-zhittya {
  background-image: url('img/fone-pic_52.png');
}

.link-block.zaets-chaynik {
  background-image: url('img/fone-pic_53.png');
}

.link-block.tarilka-kvadratna-kolyada {
  background-image: url('img/fone-pic_54.png');
}

.link-block.keramichna-tarilka-z-sirenami {
  background-image: url('img/fone-pic_55.png');
}

.link-block.tigr-tarilka-ovalna-z-yangolami {
  background-image: url('img/fone-pic_56.png');
}

.link-block.sribne-kole-z-sertsem {
  background-image: url('img/fone-pic_57.png');
}


@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .link-block {
    width: 49%;
    min-height: 300px;
  }
}
@media (max-width: 650px) {
  .container {
    padding: 0 20px;
  }
  .link-block {
    width: 30%;
    min-height: 210px;
  }
  .link-block span {
    color: var(--v-dark);
    position: relative;
    z-index: 3;
    width: 100%;
  }
  .link-block {
    opacity: 1 !important;
    padding: 10px;
  }
  .link-block:after {
    content: '';
    height: 100%;
    width: 100%;
    background: #fff;
    position: absolute;
    opacity: .6;
  }
}
@media (max-width: 468px) {
  .container {
    padding: 0 15px;
  }
  .link-block {
    width: 32.5%;
    min-height: 200px !important;
    margin-bottom: 5px !important;
    padding: 5px;
    background-size: auto 200px;
    font-size: 12px;
  }
}
